{
  "experimentalTernaries": true,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 100,
  "semi": false,
  "singleAttributePerLine": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
